name: CI

on:
  push:
    branches:
      - main

jobs:
#   test:
#     name: Test
#     runs-on: ubuntu-latest
    
#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v4
      
#       - name: Set up Go
#         uses: actions/setup-go@v5
#         with:
#           go-version: '1.22'
#           cache-dependency-path: go.sum
      
#       - name: Download dependencies
#         run: go mod download
      
#       - name: Run tests
#         run: go test -v -race ./...

  build:
    name: Build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        module:
          - gomax
          - mockserver

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          cache-dependency-path: ${{ matrix.module }}/go.sum
      
      - name: Download dependencies
        working-directory: ${{ matrix.module }}
        run: go mod download
      
      - name: Build
        working-directory: ${{ matrix.module }}
        run: go build -v ./...

